/* © 2014 Robert Roos. All rights reserved. */

/* CSS configs for handheld devices such as smaller tablets and smartphones */
/* Settings for the header and navigational part of the site */


body {
    font-size: 11pt;
}

nav {
    text-align: center;
    position: relative;
    background: rgba(000, 000, 000, 0.60);
}

nav ul
{
    margin: 0%;
    padding-top: 8px;
    list-style: none;
}

nav li
{
    width: 100%;
    margin: 0%;
    padding: 0%;
}
            
nav a
{
    font-size: 11pt;
    text-decoration: none;
    color: #ffffff;
    padding-left: 1px;
    padding-right: 4px;
    margin: 0%;
    width: 100%;
    clear: both;    
}

.sectionBox {
    width: 100%;
    padding: 0%;
    float: left;
}

aside {
    width: 100%;
}

.articleFarm {
    background: none;
    background-color: #e74c3c;
}


/* Settings for forms */


#Submit
{
    width: 50%;
    height: 50px;
}

input  
{
    width: 95%;
    padding: 2%;
}

select
{
    width: 100%;
    padding: 2%;
}

textarea
{
    width: 96%;
    padding: 2%;
}
    
fieldset
{
    width: 92%;
    margin-bottom: 2%;
}
    
legend
{
    font-weight: bold;
}

label.leftalign
{
    text-align: left;
    width: 100%;
    margin-right: -5%;
}

label.leftalignshort
{
    text-align: left;
    float: left;
    width: 90%;
}

input[type=checkbox] 
{  
    float: left;
    width: 10%;    
}


/* Other settings that will apply for handheld devices */


.noshow {
    display: none;
}

.fullWidth {
    width: 97%;
    border: 1% solid;
    border-color: #ffffff;
}

.contactTableText {
    display: none;
}

header h1 {
    padding-top: 100px;
    font-size: 70px;
}

header h2 {
    font-size: 26px;
    margin-bottom: 20px;
}

h1 {
    padding-top: 20px;
    padding-bottom: 0px;
    line-height: 100%;
    font-size: 26pt;
}

hr {
    margin: 40px 0px 20px 0px;
}